# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
dist

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
test-results/
playwright-report/
playwright/.cache/

# next.js
.next/
.next-dev/
out/
build
next-env.d.ts

# vercel
.vercel

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo

# turbo
.turbo

# vercel
.vercel

# post-build
packages/input-otp/README.md
.env*
packages/input-otp/LICENSE
