---
import Layout from '@/layouts/Layout.astro'

import { ReactOTPInput } from '@/components/react/otp-input'
import VueOTPInput from '@/components/vue/otp-input.vue'

if (Astro.request.method === 'POST') {
  try {
    const data = await Astro.request.formData()

    console.log('react-input', data.get('react-input'))
    console.log('vue-input', data.get('vue-input'))
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message)
    }
  }
}
---

<Layout title="@rodz/input-op playground">
  <form
    class="container relative flex-1 flex flex-col justify-center items-center gap-2"
    method="POST"
  >
    <ReactOTPInput client:load />
    <VueOTPInput client:load />

    <input hidden type="submit" />
  </form>
</Layout>
