---
import Layout from '@/layouts/Layout.astro'

import { ReactOTPInput } from '@/components/react/otp-input'
import VueOTPInput from '@/components/vue/otp-input.vue'
---

<Layout title="Welcome to Astro.">
  <div
    class="container relative flex-1 flex flex-col justify-center items-center"
  >
    <h1>Hello World</h1>
    <form>
      <ReactOTPInput />
      <VueOTPInput />
    </form>
  </div>
</Layout>

<style></style>
