---
import Layout from '@/layouts/Layout.astro'

import { ReactOTPInput } from '@/components/react/otp-input'
import VueOTPInput from '@/components/vue/otp-input.vue'
import SvelteInput from '@/components/svelte/otp-input.svelte'
---

<Layout title="@rodz/input-otp playground">
  <form
    class="container relative flex-1 flex flex-col justify-center items-center gap-2"
    method="POST"
  >
    <div class="mt-4">React</div>
    <ReactOTPInput client:load />
    <div class="mt-4">Vue</div>
    <VueOTPInput client:load />
    <div class="mt-4">Svelte</div>
    <SvelteInput client:load />

    <input hidden type="submit" />
  </form>
</Layout>
