name: Playwright Tests
on:
  push:
    branches:
      - main
      - master
      - feat/multi-frameworks
  pull_request:
    branches:
      - main
      - master
      - feat/multi-frameworks
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 18
    - name: Install dependencies
      run: npm install -g pnpm && pnpm install
    - name: Build linked deps
      run: pnpm lib:build
    - name: Install Playwright Browsers
      run: pnpm exec playwright install --with-deps && pnpm exec playwright install msedge
    - name: Run Playwright tests
      run: pnpm exec playwright test
    - uses: actions/upload-artifact@v3
      if: always()
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
